h1 {
font-weight: bold;
color: blue;
}

div.instagram img {
    border-radius: 50%;
    width: 2%;
    height: auto;
}

div.linkedin img {
    border-radius: 50%;
    width: 2%;
    height: auto;
}

div.photo img {
    border-radius: 50%;
    width: 10%;
    height: auto; 
}