h1 {
font-weight: bold;
color: blue;
}


div.linkedin img {
    float: left;
    border-radius: 10%;
    width: 15%;
    height: auto;
}

div.photo img {
    margin-left: 1000px;
    border-radius: 50%;
    width: 15%;
    height: auto; 
}

body {
    background-color:;
    background-image: url("images/R9c8998ad88d1c7398a92a47e31999ed5.jpg");
}

.back {
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    box-shadow: 1px 5px 5px;
    display: block;
  margin-left: auto; 
  margin-right: auto;
    width: 90%;

}

div.Languages img {
    border-radius: 50%;
    width: 20%;
    height: auto; 
}

div.email img {
    float: left;
    border-radius: 10%;
    width: 15%;
    height: auto;
    margin-top:25px;
    margin-right: 5px;
}

.social {
    display: table;
    clear: both;
}

  